{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block body_attributes %}class="sonata-bc skin-black skin-just fixed {{ not app.user.id ? 'skin-just-external-login' : '' }}"{% endblock %}

{% block side_bar_after_nav %}
    {% spaceless %}
    <ul class="form-logout">
        <li>
            <span>We are JUST</span>
        </li>
        <li>
            <a href="">
                <span class="accesibility">Log out</span>
            </a>
        </li>
    </ul>
    {% endspaceless %}
{% endblock %}

