{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

    {% block javascripts %}
        {{ parent() }}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    {% endblock javascripts %}

    {% block body_attributes %}class="sonata-bc skin-black fixed"{% endblock %}

    {% block side_bar_after_nav %}{% endblock %}

    {% block sonata_admin_content_actions_wrappers %}
        {% if _actions|replace({ '<li>': '', '</li>': '' })|trim is not empty %}
            <ul class="nav navbar-nav navbar-right add_records">
            {% if _actions|split('</a>')|length > 2 %}
                <li class="dropdown sonata-actions">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ 'link_actions'|trans({}, 'SonataAdminBundle') }} <b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu">
                        {{ _actions|raw }}
                    </ul>
                </li>
            {% else %}
                {{ _actions|raw }}
            {% endif %}
            </ul>
        {% endif %}
    {% endblock sonata_admin_content_actions_wrappers %}
