{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    <div>
        <span class="form-field-checkbox">
            <label class="btn">
                <input class="form-single-checkbox switch" type="checkbox">
                <span class="switch"></span>
            </label>
        </span>
    </div>
{% endblock %}