.bg-green,
.callout.callout-success,
.alert-success,
.label-success,
.modal-success .modal-body {
    background-color: $success !important;
}
.bg-red,
.callout.callout-danger,
.alert-danger,
.alert-error,
.label-danger,
.modal-danger .modal-body {
    background-color: $danger !important;
}
.has-error .checkbox,
.has-error .checkbox-inline,
.has-error .control-label,
.has-error .help-block,
.has-error .radio,
.has-error .radio-inline,
.has-error.checkbox label,
.has-error.checkbox-inline label,
.has-error.radio label,
.has-error.radio-inline label,
.form-group.has-error label {
    color: $danger !important;
}
.alert-dismissable {
    animation: alertShow 0.5s 0.35s forwards, alertHide 0.5s 3s forwards;
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0;
    transform: translateY(100%);
    right: 0;
    z-index: 10;
}
.alert-dismissable.no-delay {
    animation: alertShow 0.5s 0s forwards, alertHide 0.5s 3s forwards;
}
.alert {
    border-radius: 0;
    font-weight: bold;
}
.alert .close {
    text-indent: -999em;
    opacity: 1;
}
.alert-success {
    border-color: $success !important;
    color: $contrast-alt;
}
.alert-warning {
    color: $contrast-alt;;
    background-color: $warning;
    border-color: $warning;
}
.alert-danger {
    color: $contrast-alt;
    border-color: $danger !important;
}
@media only screen and (min-width: $break-md) {
    .alert-dismissable {
        left: 20%;
    }
}
@keyframes alertShow {
  0%   { transform: translateY(100%); }
  100% { transform: translateY(0); }
}

@keyframes alertHide {
    0%   { transform: translateY(0); }
    100%   { transform: translateY(100%); }
}
