// buttons
.btn {
    border-radius: 0;
    padding: 0.8em 1.1em;
    font-weight: 700;
}
.btn-default {
    color: tint($primary, 39%);
    border-color: tint($primary, 80%);
}
.btn-primary {
    color: $contrast-alt;
    background-color: shade($primary, 40%);
    border-color: shade($primary, 40%);
    &:visited {
        color: $contrast-alt;
    }
    &:hover,
    &:focus,
    &:active,
    &:hover:focus,
    &:active:focus {
        background-color: tint($primary, 20%);
        outline: none;
        box-shadow: none;
        border-color: transparent;
    }
}
.btn-contrast-alt {
    color: shade($primary, 40%);
    background-color: $contrast-alt;
    border-color: $contrast-alt;
    &:visited {
        color: shade($primary, 40%);
    }
    &:hover,
    &:focus,
    &:active,
    &:hover:focus,
    &:active:focus {
        background-color: shade($contrast-alt, 5%);
        outline: none;
        box-shadow: none;
    }
}
.btn-danger {
    background-color: $danger;
    border-color: $danger;
    &:visited {
        color: $contrast-alt;
    }
    &:hover,
    &:focus,
    &:active,
    &:hover:focus,
    &:active:focus {
        background-color: shade($danger, 10%);
        border-color: shade($danger, 10%);
        outline: none;
        box-shadow: none;
    }
}
.btn-success {
    background-color: $success;
    border-color: $success;
    &:visited {
        color: $contrast-alt;
    }
    &:hover,
    &:focus,
    &:active,
    &:hover:focus,
    &:active:focus {
        background-color: shade($success, 10%);
        border-color: shade($success, 10%);
        outline: none;
        box-shadow: none;
    }
}
.btn-info {
    background-color: $info;
    border-color: $info;
    &:hover,
    &:focus,
    &:active,
    &:hover:focus,
    &:active:focus {
        background-color: shade($info, 10%);
        border-color: shade($info, 10%);
        outline: none;
        box-shadow: none;
    }
}
.c-content__actions .sonata-action-element {
    @extend .btn;
    @extend .btn-primary;
    border: 2px solid $primary;
}
.c-content__actions a.dropdown-toggle {
    @extend .btn;
    @extend .btn-contrast-alt;
    border: 2px solid $contrast-alt;
    &:focus, &:hover {
        border-color: shade($contrast-alt, 5%);
    }
}
.view_link,
.edit_link {
    display: none;
}
.js-sortable-move {
    background-color: transparent;
    border-radius: 4px;
    margin: 0;
    padding: 5px;
    cursor: move;
    display: inline-block;
    vertical-align: top;
    border: 0;
    outline: 0;
    position: absolute !important;
    top: 50%;
    transform: translateY(-50%);
    right: 50%;
    &:hover{
        background-color: #ccc;
    }
    &:before {
        content: "";
        background-image: url('../images/icons/ic_sort.svg');
        display: inline-block;
        height: 18px;
        opacity: 0.25;
        vertical-align: top;
        width: 22px;
    }
    i {
        display: none;
    }
}

.sonata-ba-list {
    td:last-child {
        position: relative;
        overflow: visible;
    }
    .btn-group {
        position: static;
    }
    .btn-group .delete_link {
        background-color: transparent;
        border-color: transparent;
        width: 3.4rem;
        position: absolute;
        top: -1px;
        left: calc(100% + 1px);
        height: calc(100% + 1px);
        text-indent: -999em;
        background-image: url('../images/icons/ic_close_white.svg');
        background-repeat: no-repeat;
        background-size: 16px;
        background-position: center;
        background-color: $danger;
        border-color: $danger;
        color: #fff !important;
        transform: perspective(1000px) rotateY(90deg);
        transform-origin: center left;
        transition: 0.1s;
        &:hover, &:active, &:focus{
            background-color: darken($danger,5%);
            border-color: darken($danger,5%);
        }
    }
}

.sonata-ba-list tr:hover {
    .delete_link {
        transform: perspective(1000px) rotateY(0deg);
    }
}
.sonata-ba-list tr:nth-child(even) .btn-group .delete_link:before {
    background-color: #fff;
    border-color: #fff;
}

