.sonata-ba-delete {
	background-color: $contrast-alt;
	max-width: 24rem;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	.box {
		padding: $padding/2;
		.box-body {
			padding: 0.5rem;
		}
		.box-footer {
			padding: 0;
		}
		form {
			font-size: 0;
			text-align: left;
		}
		.btn {
			margin: 0.5rem;
		}
	}
	.mfp-close {
        background-image: url('../images/icons/ic_close_white.svg');
	    background-size: 12px;
	    background-repeat: no-repeat;
	    background-color: #141414;
	    &:hover,
	    &:focus,
	    &:active {
	    	background-color: tint($primary, 25%);
	    }
	    background-position: center center;
	    display: block;
	    height: 1.7rem;
	    width: 1.7rem;
	    right: 0;
	    top: 0;
	    opacity: 1;
	    text-indent: -999em;
	    transition: .15s ease-in-out;
	    z-index: 2;
	    position: absolute;
	}
	.btn-success {
		@extend .btn;
		@extend .btn-primary;
		i {
			display: none;
		}
	}
}