// tables
table {
    border-collapse: separate;
}
.table-bordered {
    border: 0;
}
.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    vertical-align: top;
}
.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    border: 1px solid transparent;
    padding: $padding/2.5 0.5rem;
    &:first-child {
        padding-left: $padding;
    }
    &:last-child {
        padding-right: $padding;
    }
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: tint($primary, 94%);
}
.table>tbody>tr:hover {
    background-color: tint($primary, 86%);
    cursor: pointer;
}
.box-footer {
    padding-left: $padding;
    padding-right: $padding;
}
.sonata-ba-list-field-header-batch,
.sonata-ba-list-field-batch {
    width: 1em;
    padding-right: 0.4rem !important;
    padding-left: 1.1rem !important;
}
.sonata-ba-list-field-header-boolean,
.sonata-ba-list-field-boolean {
    // width: 4em;
}
.sonata-ba-list-field-header-text:last-child {
    display: none;
}
.sonata-ba-list tr td:last-child {
    text-align: right;
    vertical-align: middle;
}

th.sonata-ba-list-field-header-order-asc a,
th.sonata-ba-list-field-header-order-desc a {
    position: relative;
}
th.sonata-ba-list-field-header-order-asc a:after,
th.sonata-ba-list-field-header-order-asc a:hover:after,
th.sonata-ba-list-field-header-order-asc.sonata-ba-list-field-order-active a:after,
th.sonata-ba-list-field-header-order-desc.sonata-ba-list-field-order-active a:hover:after,
th.sonata-ba-list-field-header-order-desc a:hover:after,
th.sonata-ba-list-field-header-order-desc.sonata-ba-list-field-order-active a:after,
th.sonata-ba-list-field-header-order-asc.sonata-ba-list-field-order-active a:hover:after {
    content: '';
    display: block;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    position: absolute;
    top: 50%;
    right: calc(100% + 0.5rem);
}
th.sonata-ba-list-field-header-order-desc a:after,
th.sonata-ba-list-field-header-order-desc a:hover:after,
th.sonata-ba-list-field-header-order-desc.sonata-ba-list-field-order-active a:after,
th.sonata-ba-list-field-header-order-asc.sonata-ba-list-field-order-active a:hover:after {
    border-bottom: 4px solid black;
    border-top: 4px solid transparent;
    margin-top: -5px;
}
th.sonata-ba-list-field-header-order-asc a:after,
th.sonata-ba-list-field-header-order-asc a:hover:after,
th.sonata-ba-list-field-header-order-asc.sonata-ba-list-field-order-active a:after,
th.sonata-ba-list-field-header-order-desc.sonata-ba-list-field-order-active a:hover:after {
    border-top: 4px solid black;
    border-bottom: 4px solid transparent;
    margin-top: -1px;
}
.ui-sortable-helper {
    background-color: tint($primary, 90%) !important;
    box-shadow: 0 10px 15px rgba(0,0,0,0.15);
    td {
        border: 0;
    }
}
.ui-sortable-placeholder {
    visibility: visible !important;
    background-color: tint($primary, 80%) !important;
    td {
        padding: 2.5rem 0.857rem !important;
    }
}
.form-inline .checkbox,
.form-inline .radio {
    margin: 0 1.25em;
    input {
        margin-right: 0.75em;
    }
}
.form-inline {
    .pull-right {
        display: none;
    }
    + hr {
        display: none;
    }
}
@media only screen and (min-width: $break-md) {
    .table-responsive {
        overflow-x: visible;
    }
    .c-footer-actions .form-inline {
        background-color: tint($primary, 80%);
        padding: 0.25rem;
        position: fixed;
        bottom: 0;
        left: 20%;
        right: 0;
        z-index: 5;
    }
}