$success: #529948;
$danger: #900;
$warning: #f0ad4e;
$info: #666666;

$primary: #222;
$contrast: #000;
$contrast-alt: #fff;

$header-height: 50px;
$padding: 2.7rem; //form padding

$break-md: 30em; //media query
$break-md: 50em; //media query
$break-md: 70em; //media query

@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}
@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}