@import "variables";
@import "base";
@import "layout";
@import "login";
@import "nav";
@import "breadcrumbs";
@import "button";
@import "filters";
@import "list";
@import "edit";
@import "pagination";
@import "alert";
@import "overrides";
@import "utilities";

// modal
.sonata-ba-delete {
	background-color: $contrast-alt;
	max-width: 24rem;
	margin-left: auto;
	margin-right: auto;
	.box {
		padding: $padding;
		.box-body {
			padding: 0.5rem;
		}
		.box-footer {
			padding: 0;
		}
		form {
			font-size: 0;
			text-align: left;
		}
		.btn {
			margin: 0.5rem;
		} 
	}
}
