@import "variables";
@import "base";
@import "layout";
@import "login";
@import "nav";
@import "breadcrumbs";
@import "button";
@import "filters";
@import "list";
@import "edit";
@import "pagination";
@import "alert";
@import "overrides";
@import "utilities";

// modal
.sonata-ba-delete {
	background-color: $contrast-alt;
	max-width: 24rem;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	.box {
		padding: $padding;
		.box-body {
			padding: 0.5rem;
		}
		.box-footer {
			padding: 0;
		}
		form {
			font-size: 0;
			text-align: left;
		}
		.btn {
			margin: 0.5rem;
		}
	}
	.mfp-close {
		// styles?
	}
}

// icons
.fa-plus-circle:before,
.delete_link i:before,
.fa-home:before,
.fa-user:before,
.alert .close:before,
.alert-success:before,
.glyphicon-remove:before,
.glyphicon-ok:before/*,
.mfp-close:before*/ {
	content:'';
	background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    display: inline-block;
}
.fa-plus-circle:before {
    background-image: url('../images/icons/ic_add_white.svg');
    margin-right: 0.5em;
    vertical-align: -0.25em;
}
.fa-user:before {
    background-image: url('../images/icons/ic_person.svg');
    vertical-align: middle;
}

.fa-home:before {
    background-image: url('../images/icons/ic_home.svg');
    vertical-align: middle;
}

// no results
.info-box-icon,
.info-box .progress {
	display: none;
}
.info-box-text {
	font-size: 2rem;
	font-weight: 700;
	margin-left: $padding;
}
.info-box-content {
	padding: $padding/2 0;
}

//tabs
.c-tabbed-pages {
	background-color: tint($primary, 86%);
	.navbar-nav {
		float: none;
	}
	li {
		border-right: 1px solid $contrast-alt;
    	&:last-child {
			border: none;
    	}
	}
	li a {
    	padding: 1.2em 1.6em;
    	font-weight: 700;
    	font-size: 1.125rem;
    	background-color: tint($primary, 94%);
	}
	.active a {
		background-color: $contrast-alt;
	}
	.first a {
		padding-left: $padding;
	}
}

//logout
.c-user {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 10;
	.dropdown-user {
		left: auto;
		right: 0;
	    border: none;
    	padding: 1rem;
    	box-shadow: 0 4px 13px rgba(0,0,0,.12);
	}
	.user-header img {
		display: none;
	}
	.user-footer .pull-left {
		display: none;
	}
	.dropdown-toggle[aria-expanded="true"] {
		background-color: $contrast-alt;
	}
	.btn-flat {
		border-color: #fff;
	}
}