{% trans_default_domain "wearejust-templates" %}

<div class="delete-dialog">
    <b>{{ 'dialog_confirm_deletion_title' | trans }}</b>
    <a href="#" class="js-delete-cancel delete-dialog__cancel-btn">{{ 'dialog_confirm_deletion_revert' | trans }}</a>
</div>
