{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends 'SonataAdminBundle:CRUD:base_list.html.twig' %}

{% block no_result_content %}
    <div class="alert alert-warning flat">
        <p>{{ 'no_result'|trans({}, 'SonataAdminBundle') }}</p>
    </div>
    {% if not app.request.xmlHttpRequest %}
    <ul class="list-unstyled">
        {% include 'JustSonataThemeBundle:Button:create_button.html.twig' %}
    </ul>
    {% endif %}
{% endblock %}