.content-wrapper, .right-side {
	background-color: #EBEBEB;
}

.nav-tabs-custom > .tab-content {
	background: #F2F2F2;
}

textarea {
	max-width: 100%;
	min-height: 200px;
}

.form-group {
	border-top: 1px solid white;
	display: block;
	margin: 0;
	padding: 1.1em;
}

.container-fluid {
	display: block;
}
.container-fluid:before, .container-fluid:after, .form-group:before, .form-group:after {
	content: " ";
	display: table;
}
.container-fluid:after, .form-group:after {
	clear: both;
}

.sonata-ba-field {
	margin: 0.5em 0 0 0;
	input {
		min-height: 2.7857142857em;
		padding: 0.75em 1em;
	}
}

.control-label {
	font-weight: normal;
	line-height: 1;
}

.sonata-ba-form {
	
	.box {
		background-color: #F2F2F2;
	}
	.box-body {
		margin: 0 -0.5rem;
		padding: 0;
	}
}


.control-label__text {
	display: inline-block;
	max-width: 89.9%;
	vertical-align: top;
}

.box-header {
	display: none;
}

@media screen and (min-width: 50em) {
	.nav-tabs-custom > .tab-content {
	}

	.control-label {
		float: left;
		margin-bottom: 0;
		padding-right: 2em;
		width: 33.333%;
	}
	.sonata-ba-field {
		float: right;
		margin: -0.825em 0;
		width: 66.667%;
	}

	.control-label__text {
		max-width: none;
	}
}
