.box{
    border-top: 0;
    border: 0;
    box-shadow: none;
    border-top-color: #ebebeb!important;

    .box-header{
        background: #ebebeb;
        color: #222;
        padding: 10px 0;
    }

    .box-body{padding: 2em;}

    .box-footer{
        input[type="submit"]{
            background: $success;
            border-color: $success;
        }
    }
}

.box.box-danger .box-header{background: $danger;}


.nav-tabs-custom>.nav-tabs>li.active{
    border-top-color: #000;
}