.box{
    border: 1px solid #ddd;
    border-radius: 0;
    box-shadow: none;

    .box-header{
        background: #ebebeb;
        color: #222;
        padding: 10px;
    }

    .box-body{padding: 2em;border-radius: 0;}

    .box-footer{
        input[type="submit"]{
            background: #000;
            border-color: #000;
        }
    }
}
.box.box-primary{ border-top-color: #ddd; }
.box.box-danger .box-header{background: $danger;color:#FFF;}

.nav-tabs-custom>.nav-tabs>li.active{
    border-top-color: #000;
}