.btn{border-radius: 0;}

.btn-primary{
    background-color: $primary-color;
    border-color: $primary-color;
    &:hover{
        background-color: lighten($primary-color, 20%);
        border-color: lighten($primary-color, 20%);
    }
}


.add_records a{
    background: $success;
    color: #FFF!important;
    &:hover, &:active, &:focus{
        background: darken($success,5%)!important;
    }
}