.cropper {
	background-color: $light-gray;

	.col-md-12, .form-group, .sonata-ba-field {
		position: static;
	}

	.checkbox {
		top: 0;
	}
	
	.btn {
		color: #fff !important;
	    background-color: #222 !important;
	    border-color: #222 !important;
	}

	.image-url-input.input-sm.form-control, .col-md-8.cropper-remote {
		display: none;
	}

}



.cropper:hover {
	cursor: pointer;
}