.sonata-filters-box {
	display: none !important;
}

.filter-box {
	display: none;
	background-color: #fff;
	padding-top: 2em;
    .sonata-filter-form {
    	box-shadow: inset 0px 28px 20px -33px rgba(0,0,0,0.75);
    	padding-top: 2rem;
    }
	.form-group {
		display: block !important;
		border-bottom: none;
		padding: 1em 3.21428em;
	}
	[data-toggle="advanced-filter"], .sonata-toggle-filter {
		display: none;
	}
	.btn {
		display: block;
		margin: 1em auto;
		width: 30%;
		&:last-of-type {
			margin-bottom: 0;
		}
	}
}

.fa-filter:before {
	content: '';
	background-image: url('../images/icons/ic_search.svg');
    display: inline-block;
    background-image: url(../images/icons/ic_search.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 1.3em;
    height: 1.3em;
    vertical-align: -4px;
}

input[type="file"] {
	height: auto;
}
input[type="checkbox"] {
	min-height: auto !important;
}

.sonata-filter-form .row > .col-sm-9, .sonata-filter-form .row  > .col-sm-3 {
	width: 100%;
}


.form-logout {
	display: none;
}

.checkbox label, .radio label {
	margin-left: auto;
}

label,
.control-label__text {
	font-weight: normal;
}

.control-label {
	font-weight: normal;
	line-height: 1;
}

.control-label__text {
	display: inline-block;
	max-width: 89.9%;
	vertical-align: top;
}

.form-logout {
	display: none;
}

.form-control {
	padding: 0.75em 1em;
	border-color: $gray;
}

.form-control:focus {
	border-color: darken($gray, 10%);
	outline: none;
}

.form-group {
	border-bottom: 1px solid white;
	display: block;
	margin: 0;
	padding: 1.1em;
	&:after {
		clear: both;
	}
	&:last-child {
		border-bottom: none;
	}
}

.form-inline .checkbox,
.form-inline .radio {
	margin-right: 1em;
}

//hide items per page unit
.per-page,
label[for*="per_page"] {
	display: none;
}

textarea {
	max-width: 100%;
	min-height: 200px;
}

.sonata-ba-field {
	margin: 0.5em 0 0 0;
	input {
		min-height: 2.7857142857em;
		padding: 0.75em 1em;
		background-color: #fff;
		border: 1px solid $gray;
	}
}

.sonata-ba-form {
	margin: 0;
    background-color: #fff;
    padding-bottom: 100vh;
    margin-bottom: -100vh;
    overflow: hidden;
    width: 100%;
	.sonata-ba-form-actions.well {
		background-color: $gray;
		border: none;
		border-radius: 0;
		display: flex;
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 100;
		font-size: 0;
		margin: 0;
		padding: 6px 0.85rem;
		width: 100% !important;
		.btn {
			margin: 0.15em;
			order: 2;
			&.btn-success:nth-child(2n+1){
				background-color: $lighter-gray !important;
				color: #000 !important;
				&:hover {
					background-color: rgba(255, 255, 255, 0.4) !important;
				}
			}
		}
		.btn[name="btn_update_and_list"],
		.btn[name="btn_create_and_list"] {
			order: 1;
		} 
		.btn[name="btn_create_and_edit"] {
			order: 3;
		} 

	}
}

// .sonata-filter-form {
// 	display: none !important;
// }

.sonata-ba-list-field-text .edit_link {
	display: none;
}

.form-logout {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: #000;
	margin: 0;
	padding: 0;
	list-style: none;
	color: #FFF;
	li {
		display: inline-block;
		width: calc(100% - 50px);
		padding: 1em 1.3em;
		&:last-of-type {
			text-align: center;
			width: 50px;
		}
		&+li {
			border-left: 1px solid $gray;
		}
	}
	a {
		display: block;
		&:after {
			background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAFo9M/3AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAANpJREFUeNpi+P///3kg/s/EwMDwAYgTAQKIEcQDMhhAIgdADIAAYviPAPNBBFwJDAAEELrABQZk5TDjQYYpAPECbFoYAAIIXQDkGAFkBSxw9yDARCD2B+IEbCYsgNIJcBGYZ3GA8wABhOEoNMDIxIAfOKArYERXge6L/VBFcGsJWQE2wQHNChRHo5uA4SOC3gQIMEIKCAFHXJ74AHXvAkIm4DJAAMk/eA1iJNEH96GJE8UL//Hg+VCF86F8BWK98AApWfxHSZ5YIhobUMAWp7gMYERLLcQCcBoFAEQujVDuVWLdAAAAAElFTkSuQmCC');
			background-repeat: no-repeat;
			background-position: right center;
			background-size: cover;
			content: "";
			display: inline-block;
			height: 16px;
			opacity: .7;
			vertical-align: top;
			width: 16px;
		}
	}
}

.vich-image img {
	max-width: 100%;
	transition: 0.15s ease-in-out;
}

.vich-image {
	position: relative;
	a { 
		background-color: $light-gray;
		display: block; 
		margin-top: 0.3em;
	}
	.form-group {
		padding: 0;
		border: none;
	}
	.checkbox {
		position: absolute;
		top: 2.7rem;
		right: 0;
		margin: 0;
		font-size: 0;
	}

	input[type="file"] {
		width: 100%;
	}

	input[type="checkbox"] {
		opacity: 0;
	}

	.checkbox label {
		background: url('../images/icons/ic_close_white.svg') $danger no-repeat center;
		background-size: 18px;
		min-height: 55px;
    	padding-left: 55px;
    	opacity: 0;
    	transition: 0.15s ease-in-out;
	}

	&.is_checked {
		img {
			opacity: 0.3;
		}
		.checkbox label {
			opacity: 1;
		}
	}

	&:hover {
		.checkbox label {
			opacity: 1;
		}

	}
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
	background-color: transparent;
	border-color: transparent;
}

.form-control[disabled] + .input-group-addon,
.form-control[readonly] + .input-group-addon,
fieldset[disabled] .form-control + .input-group-addon {
	display: none;
}

span.x-editable.editable.editable-click, .sonata-ba-list-field-boolean .label-danger {
	margin: 0 -8px;
}

@media only screen and (min-width: 768px) {
	.sonata-ba-form .sonata-ba-form-actions.well {
		left: 230px;
	}
	.form-inline.is-visible {
		background-color: $gray;
		position: fixed;
		bottom: 0;
		left: 230px;
		right: 0;
		margin: 0;
		padding: 6px 0.85rem;
	}
}

@media only screen and (min-width: 50em) {
	.sonata-ba-form-actions {
		.btn-danger {
			position: fixed;
			right: 4em;
		}
	}
	.form-group {
		padding: 1.1em 3.21428em;
	}
	.control-label {
		float: left;
		margin-bottom: 0;
		padding-right: 2em;
		width: 33.333%;
	}
	.sonata-ba-field {
		float: right;
		margin: -0.825em 0;
		width: 66.667%;
	}
	.control-label__text {
		max-width: none;
	}
}

@media only screen and (min-width: 95em) {
	.sonata-ba-form .sonata-ba-form-actions.well {
		left: 20%;
	}
	.form-inline.is-visible {
		left: 20%;
	}
}

.form-field-checkbox {
	.btn {
		padding: 0;
		border: 0;
	}
	.form-single-checkbox {
		position: absolute;
		opacity: 0;
	}
	.form-single-checkbox.switch+.switch {
		background-color: #fff;
		border: 1px solid $gray;
		border-radius: 9999em;
		display: block;
		font-size: 1.8em;
		height: 1.05em;
		margin: -0.25em 0;
		overflow: hidden;
		transition-duration: .4s;
		transition-property: padding, width;
		width: 1.8em;
	}
	.form-single-checkbox.switch:checked+.switch {
		background-color: #529948;
		border-color: #529948;
		padding-left: .8em;
	}
	.form-single-checkbox.switch+.switch:before {
		background: #fff;
		border: 1px solid $gray;
		border-radius: inherit;
		-webkit-box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.125);
		-moz-box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.125);
		box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.125);
		content: "";
		display: block;
		height: 1.05em;
		margin: -1px;
		width: 1em;
	}
}
