.form-group{
    margin-bottom: 30px;
    label{
        font-weight: normal;
        color: #222;
    }
}

.form-control:focus{
    border-color: #d2d6de;
    background: #f5f5f5;
}

.checkbox label, .radio label{font-weight: 300;}
.icheckbox_square-blue, .iradio_square-blue{
    background: url('../images/black.png');
    background-size: cover;
    width: 17px;
    height: 17px;

    &.checked, &.hover{background-position: -34px 0;}
}

//Select2
.select2-container-active .select2-choice, 
.select2-container-multi.select2-container-active .select2-choices,
.select2-drop-active
{
    border-color: #d2d6de;
    outline: 0;
}

.select2-results .select2-highlighted{
    background: #333;
}



//Fixed form

.form-actions.is-stuck{
    background: #d3d3d3;
    padding: 2em;
    margin: 0 auto!important;
    max-width: 87.95em;

    width: auto !important;
    left: 245px;
    right: 15px;

}

// .form-actions.stuck{
//     position: static;
//     margin-left: 0;
    
// }

// .form-actions.is-stuck{
//     background: #d3d3d3;
//     padding: 1.5em;
//     position: fixed;
//     bottom: 0;
//     left: 0;
//     right: 0;
//     .fixed-button__wrapper{
//         max-width: 90em;
//         margin: 0 auto;
//         padding: 0 15px;
//     }
// }