.form-control:focus{
    border-color: #000;
}

.checkbox label, .radio label{font-weight: 300;}
.icheckbox_square-blue, .iradio_square-blue{
    background: url('../images/black.png');
    background-size: cover;
    width: 17px;
    height: 17px;

    &.checked, &.hover{background-position: -34px 0;}
}


//Select2
.select2-container-active .select2-choice, 
.select2-container-multi.select2-container-active .select2-choices,
.select2-drop-active
{
    border-color: $primary-color;
}

.select2-results .select2-highlighted{
    background: #333;
}