.sidebar-form[role="search"] {
	display: none;
}

label,
.control-label__text {
	font-weight: normal;
}

.control-label {
	font-weight: normal;
	line-height: 1;
}

.control-label__text {
	display: inline-block;
	max-width: 89.9%;
	vertical-align: top;
}

.form-control {
	padding: 0.75em 1em;
	border-color: #dadada;
}

.form-control:focus {
	border-color: darken(#dadada, 10%);
	outline: none;
}

.form-group {
	border-bottom: 1px solid white;
	display: block;
	margin: 0;
	padding: 1.1em;
	&:after {
		clear: both;
	}
	&:last-child {
		border-bottom: none;
	}
}

.form-inline .checkbox,
.form-inline .radio {
	margin-right: 1em;
}

.select2-container .select2-choice,
select {
	height: 45px;
}

.select2-choice>span:first-child,
.select2-chosen,
.select2-container .select2-choices .select2-search-field input {
	padding: 0.75em 1em;
}

.select2-container .select2-choice .select2-arrow {
	top: 5px;
	right: 7px;
}

.select2-container-active .select2-choice,
.select2-container-multi.select2-container-active .select2-choices {
	border-color: #000;
	box-shadow: none;
}

//hide items per page unit
.per-page,
label[for*="per_page"] {
	display: none;
}

textarea {
	max-width: 100%;
	min-height: 200px;
}

label ~ input[type="submit"] { margin: 0 0.5em; }

.sonata-ba-field {
	margin: 0.5em 0 0 0;
	input {
		min-height: 2.7857142857em;
		padding: 0.75em 1em;
	}
}

.sonata-ba-form {
	margin: 0 0 85px 0;
	.sonata-ba-form-actions.well {
		background-color: #dbdbdb;
		border: none;
		border-radius: 0;
		position: fixed;
		bottom: 0;
		left: 230px;
		right: 0;
		z-index: 5;
		font-size: 0;
		margin: 0;
		padding: 6px;
		width: 100% !important;
		.btn {
			margin: 0.15em;
		}
	}
}

.icheckbox_square-blue,
.iradio_square-blue {
	transform: scale(0.7);
	background: url('../images/black.png');
}

.form-logout{

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    background: #000;
    margin: 0;
    padding: 0;
    list-style: none;

    color: #FFF;
    li{
        display: inline-block;
        width: calc(100% - 50px);
        padding: 1em 1.3em;
        &:last-of-type{ 
            text-align: center;
            width: 50px;
        }
        &+li{ border-left: 1px solid #dedede; }
    }
    a{
        display: block;
        &:after{
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAFo9M/3AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAANpJREFUeNpi+P///3kg/s/EwMDwAYgTAQKIEcQDMhhAIgdADIAAYviPAPNBBFwJDAAEELrABQZk5TDjQYYpAPECbFoYAAIIXQDkGAFkBSxw9yDARCD2B+IEbCYsgNIJcBGYZ3GA8wABhOEoNMDIxIAfOKArYERXge6L/VBFcGsJWQE2wQHNChRHo5uA4SOC3gQIMEIKCAFHXJ74AHXvAkIm4DJAAMk/eA1iJNEH96GJE8UL//Hg+VCF86F8BWK98AApWfxHSZ5YIhobUMAWp7gMYERLLcQCcBoFAEQujVDuVWLdAAAAAElFTkSuQmCC'); 
            background-repeat: no-repeat; 
            background-position: right center; 
            background-size: cover;
            content: ""; 
            display: inline-block; 
            height: 16px; 
            opacity: .7; 
            vertical-align: top; 
            width: 16px;
        }
    }
}




@media only screen and (min-width: 50em) {
	.sonata-ba-form-actions {
		.btn-danger {
			position: fixed;
			right: 4em;
		}
	}
	.form-group {
		padding: 1.1em 3.21428em;
	}
	.control-label {
		float: left;
		margin-bottom: 0;
		padding-right: 2em;
		width: 33.333%;
	}
	.sonata-ba-field {
		float: right;
		margin: -0.825em 0;
		width: 66.667%;
	}
	.control-label__text {
		max-width: none;
	}
}

@media only screen and (min-width: 95em) {
	.sonata-ba-form .sonata-ba-form-actions.well {
		left: 315px;
	}
}