//Header
.skin-just .main-header .navbar .navbar-nav > li > a {
    background: $primary-color;
    color: #FFFFFF;
}

.skin-just .sidebar-form, .skin-just .sidebar-form input[type="text"], .skin-just .sidebar-form .btn {
    border-radius: 0;
}

.skin-just .main-header .navbar {
    background-color: #F2F2F2;
}

.skin-just .main-header > .logo, .skin-just .main-header > .logo:hover {
    background-color: #000000;
    border-right: 1px solid #000000;
    color: #FFFFFF;
    font-weight: bold;
    padding-left: 1.175em;
    text-align: left;
    text-transform: uppercase;
}

.skin-just .wrapper, .skin-just .main-sidebar, .skin-just .left-side {
    background-color: $primary-color;
}

.skin-just .main-sidebar {
    // max-width: 32rem;
     //width: auto;
}
.skin-just .sidebar-form input[type="text"], .skin-just .sidebar-form .btn {
    background-color: #222222;
}

body.fixed .content-header .navbar.stuck {
    border-bottom: 1px solid #EAEAEA;
    border-top: 1px solid #EAEAEA;
    top: 51px;
}

//Level 1
.skin-just .sidebar-menu li {
    border-bottom: 1px solid #2D2D2D; 
    border-top: 1px solid transparent;
}
.skin-just .sidebar-menu > li:hover > a, .skin-just .sidebar-menu > li.active > a {
    background: #1A1A1A;
    color: #FFFFFF;
}
.skin-black .sidebar-menu > li:hover > a, .skin-black .sidebar-menu > li.active > a {
    background-color: #2D2D2D;
    border-left-color: transparent;
}
.skin-just .sidebar a {
    color: #F2F2F2;
    font-weight: normal;
    padding: 1em 1.5em;
    i {
        display: none;
    }
}
.skin-just .form-logout a, .skin-just .form-logout span {
    padding: 0;
}
.skin-just .form-logout li + li {
    border-left: 1px solid #2D2D2D;
}
//Menu level 2
.skin-just .sidebar-menu > li > .treeview-menu {
    background: #2D2D2D;
    padding: 0;
    padding-bottom: 1em;
    a {    
        color: #ccc;
        padding: 0.25em 1em 0.25em 3em;
    }
    li {
        border: none;
        &:hover {
            background-color: #000000;
        }
        &:hover a, &.active a {
            color: #FFFFFF;
            text-decoration: none;
        }
        &.active a {
            font-weight: bold;
        }
    }
}

.navbar {
    border-radius: 0;
}

.breadcrumb li {
    vertical-align: middle;
}
.breadcrumb li:first-child {
    line-height: 1;
    a {
        font-size: 1.3em;
        text-align: center;
        padding-right: 0.85em;
    }
}
.breadcrumb, .breadcrumb > .active {
    color: #000000!important;
}
.breadcrumb > .active {
    font-weight: bold;
}
.breadcrumb > li + li:before {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAyCAYAAAEW6arWAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAbpJREFUeNpiePbs2X8mBgYGRhDBgIVoAgggBqASBPcyiNAFEUog4h5YAiCAGEFK4LqAwAjGOAdjwKUewBgKAAGEoosLxngBY/Ah64IzkmAMVxgjCMZgR1EcAGNkwBgeIAZAAIEsbQLSdchqQZwd6DbNQBfYAHI9iqOAwAld4B4Q/0QWAIF16AK7WZA4l2FBCgPxIAKm4hN6WEjAlAEEEDwAkV06H10gFl0gD11gGhDLovt2E7qAKLpAELrAKVggI/tlGbrAeXSBAHSBz0BchR5iDMi+5QWpQlaxAd0MQ3SBKGQBM1iEwwTWofvlNbqAH7JAFhA/RhaYhB6mi5EFAAIM5PSbUG17GbAAUFz7AvFR5HBGN/IWEN+E+QSbAhDwB+K5+BS8BeLtQFyKSwEIhAJxJz4Ff4F4OhD34oohGPiHLRMjgxogXo4cDuigDZShsMU5MsjElgaQwTwgNoaVWrgAyMtX8CkoB2IdXAqSgPgsqARgwaEAFGAiuBxZBU2Fn3GFQwu+kJwKxP3oKQoGmKEBxIQrNldDvcaAzQRhIPZEzu7oJmwE4mRcSU4NiNVhxQA2BZuBOAJXeAMAWdtansgB0sUAAAAASUVORK5CYII=");
    background-position: center center;
    background-repeat: no-repeat;
    content: "";
    display: inline-block;
    height: 48px;
    vertical-align: middle;
}
.breadcrumb li > a, .breadcrumb li > span {
    color: inherit;
    font-size: .875em;
    line-height: 1rem;
    padding: 1rem .85em;
    padding-right: 1.75em;
    position: relative;
    text-align: center;
    min-height: 0;
}
.breadcrumb li > a {
    transition: color 0.1s;
    &:hover, &:focus, &:active {
        background-color: transparent !important;
        color: #666 !important;
    }
}

.navbar-default .navbar-brand {
    color: #000000;
    display: inline-block;
    float: none;
    font-size: 2.5em;
    font-weight: bold;
    height: auto;
    line-height: 1;
    padding: 0;
}
.navbar-header {
    padding: 1em;
}



@media screen and (min-width: 50em) {
    .navbar-default .navbar-brand {
        font-size: 3.5em;
    }
}
