//Header
.logo img + span {
	width: auto!important;
}
.skin-black .main-header .navbar .navbar-nav>li>a {
	background: $primary-color;
	color: #FFFFFF;
}

.skin-black .sidebar-form,
.skin-black .sidebar-form input[type="text"],
.skin-black .sidebar-form .btn {
	border-radius: 0;
}

.skin-black .main-header .navbar {
	background-color: $lighter-gray;
}

.skin-black .main-header>.logo,
.skin-black .main-header>.logo:hover {
	background-color: #000000;
	border-right: 1px solid #000000;
	color: #FFFFFF;
	font-weight: bold;
	padding-left: 1.175em;
	text-align: left;
	text-transform: uppercase;
    line-height: 2.1;
}

.skin-black .wrapper,
.skin-black .main-sidebar,
.skin-black .left-side {
	background-color: $primary-color;
}

.skin-black .sidebar-form input[type="text"],
.skin-black .sidebar-form .btn {
	background-color: #222222;
}

//Level 1
.skin-black .sidebar-menu li {
	border-bottom: 1px solid $off-black;
	border-top: 1px solid transparent;
}

.skin-black .sidebar-menu>li:hover>a,
.skin-black .sidebar-menu>li.active>a {
	background: #1A1A1A;
	color: #FFFFFF;
}

.skin-black .sidebar-menu>li:hover>a,
.skin-black .sidebar-menu>li.active>a {
	background-color: $off-black;
	border-left-color: transparent;
}

.skin-black .sidebar a {
	color: $lighter-gray;
	font-weight: normal;
	padding: 1em 1.5em;
	i {
		display: none;
	}
}

//Menu level 2
.skin-black .sidebar-menu>li>.treeview-menu {
	background: $off-black;
	padding: 0;
	padding-bottom: 1em;
	a {
		color: #ccc;
		padding: 0.25em 1em 0.25em 3em;
	}
	li {
		border: none;
		&:hover {
			background-color: #000000;
		}
		&:hover a,
		&.active a {
			color: #FFFFFF;
			text-decoration: none;
		}
		&.active a {
			font-weight: bold;
		}
	}
}

.navbar {
	border-radius: 0;
}

.navbar.navbar-default {
	background-color: #FFFFFF;
	margin-bottom: -1.1em;
	border: none;
	margin-top: -1.1em;
	width: auto !important;
}

.navbar-default .navbar-brand {
	color: #000000;
	display: inline-block;
	float: none;
	font-size: 2.5em;
	font-weight: bold;
	height: auto;
	line-height: 1;
	padding: 0;
	pointer-events: none;
	max-width: 40rem;
	&:hover,
	&:focus,
	&:active {
		color: #000000;
		cursor: default;
	}
}

.navbar-header {
	float: none;
	padding: 1em;
}

.sticky-wrapper .navbar-right:not(.add_records) {
	display: none;
}

//user menu
.user-footer .pull-left,
.user-header img {
	display: none;
}
.navbar-custom-menu {
	.navbar-nav>li:not(.user-menu) {
		display: none;
	}
	.user-menu {
		.dropdown-menu {
			border: none;
			padding: 0;
            box-shadow: 0 4px 13px rgba(0,0,0, 0.12);
		}
		&>a {
			background-color: transparent !important;
			color: $off-black !important;
			&:hover,
			&:focus,
			&:active {
				opacity: 0.6;
			}
		}
		&.open>a {
			opacity: 1;
			background-color: #fff !important;
		}
	}
}

.has_tabs .navbar-left .navbar-nav>li.first,
.has_tabs .navbar-left .navbar-nav>li.active {
	background-color: $lighter-gray;
}

.has_tabs .navbar-left .navbar-nav>li:hover,
.has_tabs .navbar-left .navbar-nav>li:focus,
.has_tabs .navbar-left .navbar-nav>li:active {
	background-color: $gray;
}

.navbar.navbar-default.has_tabs {
	border-bottom: 2px solid $lighter-gray;
}

.navbar-header + .navbar-collapse .navbar-right {
	display: none;
}
.navbar-default .navbar-nav>li>a {
	color: $primary-color;
	font-size: 16px;
	font-weight: bold;
}

.navbar-nav>.user-menu>.dropdown-menu>li.user-header>img {
	border-color: #fff;
	border-width: 2px;
	float: left;
	margin-right: 10px;
	width: 45px;
	height: 45px;
}

.navbar-nav>.user-menu>.dropdown-menu>li.user-header>p {
	color: $off-black;
    text-align: left;
}

.navbar-nav>.user-menu>.dropdown-menu>li.user-header {
    height: auto;
    background-color: #fff !important;
}

.navbar-nav>.user-menu>.dropdown-menu>.user-footer {
    background-color: #fff;
}

@media screen and (min-width: 48em) {
	.sidebar-toggle {
		display: none;
	}
}

@media screen and (min-width: 50em) {
	.navbar-default .navbar-brand {
		font-size: 3.5em;
	}
	.navbar-header {
		padding: 3.1428571429em 2.4em;
		word-break: normal;
	}
}

//new nav width
@media screen and (min-width: 95em) {
	.sidebar-collapse .main-sidebar,
	.sidebar-collapse .left-side {
		transform: translate(20%, 0);
	}
	.main-header .logo,
	.main-sidebar,
	.left-side {
		width: 20%;
	}
	.main-header .navbar {
		margin-left: 20%;
	}
    .main-sidebar,
    .content-wrapper {
        float: left;
        margin: 0;
        box-sizing: border-box;
    }

    .main-sidebar {
        width: 20%;
    }

    .content-wrapper {
    	margin-left: calc(1px + 20%);//center fix
        width: 80%;
    }
	.form-actions {
		left: 20%;
	}
}
