//Header
.skin-just .main-header .navbar .navbar-nav>li>a {
    background: $primary-color;
    color: #FFFFFF;
}

.skin-just .sidebar-form,
.skin-just .sidebar-form input[type="text"],
.skin-just .sidebar-form .btn {
    border-radius: 0;
}

.skin-just .main-header .navbar {
    background-color: #F2F2F2;
}

.skin-just .main-header>.logo,
.skin-just .main-header>.logo:hover {
    background-color: #000000;
    border-right: 1px solid #000000;
    color: #FFFFFF;
    font-weight: bold;
    padding-left: 1.175em;
    text-align: left;
    text-transform: uppercase;
}

.skin-just .wrapper,
.skin-just .main-sidebar,
.skin-just .left-side {
    background-color: $primary-color;
}

.skin-just .sidebar-form input[type="text"],
.skin-just .sidebar-form .btn {
    background-color: #222222;
}

//Level 1
.skin-just .sidebar-menu li {
    border-bottom: 1px solid #2D2D2D;
    border-top: 1px solid transparent;
}

.skin-just .sidebar-menu>li:hover>a,
.skin-just .sidebar-menu>li.active>a {
    background: #1A1A1A;
    color: #FFFFFF;
}

.skin-black .sidebar-menu>li:hover>a,
.skin-black .sidebar-menu>li.active>a {
    background-color: #2D2D2D;
    border-left-color: transparent;
}

.skin-just .sidebar a {
    color: #F2F2F2;
    font-weight: normal;
    padding: 1em 1.5em;
    i {
        display: none;
    }
}

.skin-just .form-logout a,
.skin-just .form-logout span {
    padding: 0;
}

.skin-just .form-logout li+li {
    border-left: 1px solid #2D2D2D;
}

//Menu level 2
.skin-just .sidebar-menu>li>.treeview-menu {
    background: #2D2D2D;
    padding: 0;
    padding-bottom: 1em;
    a {
        color: #ccc;
        padding: 0.25em 1em 0.25em 3em;
    }
    li {
        border: none;
        &:hover {
            background-color: #000000;
        }
        &:hover a,
        &.active a {
            color: #FFFFFF;
            text-decoration: none;
        }
        &.active a {
            font-weight: bold;
        }
    }
}

.navbar {
    border-radius: 0;
}

.navbar.navbar-default {
    background-color: #FFFFFF;
    margin-bottom: -1.1em;
    border: none;
    margin-top: -1.1em;
    width: auto !important;
}

.navbar-default .navbar-brand {
    color: #000000;
    display: inline-block;
    float: none;
    font-size: 2.5em;
    font-weight: bold;
    height: auto;
    line-height: 1;
    padding: 0;
    pointer-events: none;
    &:hover, &:focus, &:active {
        color: #000000;
        cursor: default;
    }
}
.navbar-header + .navbar-collapse {
    display: none;
}
.navbar-header {
    padding: 1em;
}
.sticky-wrapper
    .navbar-right:not(.add_records) {
        display: none;
    }

@media screen and (min-width: 48em) {
    .sidebar-toggle {
        display: none;
    }
}

@media screen and (min-width: 50em) {
    .navbar-default .navbar-brand {
        font-size: 3.5em;
    }
    .navbar-header {
        padding: 3.1428571429em;
    }
}

//new nav width
@media screen and (min-width: 95em) {
    .sidebar-collapse .main-sidebar,
    .sidebar-collapse .left-side {
        transform: translate(-$nav-width, 0);
    }
    .main-header .logo,
    .main-sidebar,
    .left-side {
        width: $nav-width;
    }
    .main-header .navbar {
        margin-left: $nav-width;
    }
    .form-actions {
        left: $nav-width;
    }
    .content-wrapper,
    .right-side,
    .main-footer {
        margin-left: $nav-width;
    }
}