table.sonata-ba-list th {
    background-image: none;
}

.box-body.table-responsive{ overflow-x: scroll; }
.sonata-ba-list tr td:last-child{
    position: relative;
    overflow: visible;
}
.sonata-ba-list tr:hover .delete_link{
    display: block;
}

.sonata-ba-list td.sonata-ba-list-field a.sonata-link-identifier {
	color: #000;
    font-weight: normal;
    &:hover, &:focus, &:active {
    	color: #888;
    }
}

table.sonata-ba-list tr td a {
    color: #888;
    &:hover{
        color: #000;
    }
}

th.sonata-ba-list-field-header-order-desc a, th.sonata-ba-list-field-header-order-asc a{
    color: #000;
}

.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td{
    border: 1px solid transparent;
    padding: 1.375em;
}
td.sonata-ba-list-field.sonata-ba-list-field-currency, td.sonata-ba-list-field.sonata-ba-list-field-percent, td.sonata-ba-list-field.sonata-ba-list-field-integer {
	text-align: left;
}
.table-striped>tbody>tr:nth-of-type(odd) {
	background-color: #f2f2f2;
}
.table-striped tbody tr.sonata-ba-list-row-selected td, .table-striped tbody tr.sonata-ba-list-row-selected th {
	background-color: #ddd;
}
.label { font-size: 100%; border-radius: 0; }

@media screen and (min-width: 50em) {
    .box-body.table-responsive {
        overflow: visible;
        overflow-x: visible;
    }
}