table.table{
    th{
        background-image: none;
    }
    th a{color:#000;}

    tr:hover td{
        background: #f2f2f2;
    }
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    vertical-align: middle;
}

.sonata-ba-list td.sonata-ba-list-field a.sonata-link-identifier{
    font-weight: normal;
}

.sonata-ba-list tr th:first-child{width: 30px;}

//Just show icons
.view_link, .edit_link, .delete_link{
    font-size: 0;
    margin: 0 4px;
    i{font-size: 14px;}
}

.view_link, .edit_link{
    background: #FFF!important;
    border-color: #bdbdbd!important;
    &:hover, &:active, &:focus{
        background: #f2f2f2!important;
        border-color: #777!important;
    }
}

.delete_link{
    background: $danger;
    border-color: $danger;
    color: #FFF!important;
    &:hover, &:active, &:focus{
        background: darken($danger,5%);
        border-color: darken($danger,15%);
    }
}
