.sonata-action-element{
    background: $success;
    color: #FFF!important;
    margin: 0 10px;
    &:hover, &:active, &:focus{
        background: darken($success,5%)!important;
    }
}

table.table{
    th{
        background-image: none;
    }

    th a{color:#000;}
}

.sonata-ba-list td.sonata-ba-list-field a.sonata-link-identifier{
    font-weight: normal;
}
