@import 'variables';
@import 'AdminLTE';
@import 'login';
@import 'navbar';
@import 'form';
@import 'button';
@import 'box';
@import 'table';

body{
    color: #222;
    background: #ebebeb;
    padding: 0 0 85px 0;
}

a{
    color: #222;
    &:hover, &:focus, &:active{
        color: #333;
    }
}

.alert{
    margin: 0 0 10px;
    border-radius: 0;
}

.modal{
    z-index: 2500;
}

.redactor-toolbar{z-index: 1!important;}

.bg-aqua{
    background-color: $primary-color!important;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus{
    background-color: $primary-color;
    border-color: $primary-color;
}

.pagination>li>a, .pagination>li>span{
    border: 0;
    background: #fff;
    color: $primary-color;
    &:hover{color: $primary-color;}
}
.pagination>li:first-child>a, .pagination>li:first-child>span{border-radius: 0!important;}



.content-wrapper, .right-side{
    max-width: 90em;
    width: 100%;
    margin: 0 auto;
}

.skin-just  {
    .wrapper{
        background: #ebebeb;
    }

    // Hide profile menu if loggedin user is an external user
    &.skin-just-external-login .user-footer div:first-child {
        display:none;
    }
}

//Layout
.main-sidebar, .content-wrapper{
    position: static!important;
    float: left;
}
.main-sidebar{
    width: 230px;height: 100vh;
    .slimScrollDiv{
        background-color: #222;
        height: 100vh!important;
        position: fixed!important;
        top: 0;
        left: 0;
        bottom: 0;
        max-width: 230px;
    }
}
.content-wrapper{
    max-width: calc(100% - 230px);
    section{
        margin: 0 auto;
        max-width: 90em;
    }
}
