@import 'variables';
@import 'login';
@import 'navbar';
@import 'form';
@import 'button';
@import 'box';
@import 'table';

a{
    color: #777;
    &:hover, &:focus, &:active{
        color: #333;
    }
}

.alert{
    margin: 0 0 10px;
    border-radius: 0;
}

.modal{
    z-index: 2500;
}

.bg-aqua{
    background-color: $primary-color!important;
}