@import 'variables';
@import 'navbar';
@import 'button';
@import 'forms';
@import 'box';
@import 'alert';
@import 'table';
@import 'article';
@import 'pagination';

html {
    -webkit-font-smoothing: antialiased;
    word-break: break-all;
}
html, body {
    font-size: 100%;
    color: #000;
}
body {
    font-size: 87.5%;
}
body, .content-wrapper, .right-side, .wrapper {
    background-color: #ebebeb;
}
.skin-just  {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif!important;
    .wrapper{
        background: #ebebeb;
    }
    .sidebar-form{
        border: 1px solid #656565;
    }

    // Hide profile menu if loggedin user is an external user
    &.skin-just-external-login .user-footer div:first-child {
        display: none;
    }
}

.bg-aqua { background-color: #000!important; }
.required:after { color: $danger; font-size: 1.3em; line-height: 0; }

.logo img { display: none; }
.content-wrapper {     
    .content-header {
        .nav.navbar-right.btn-group { display: none; }
    }
}
.accesibility{
    position: absolute;
    left: -100px;
    visibility: hidden;
    opacity: 0;
    z-index: -1;    
}

.form-logout{

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    background: #000;
    margin: 0;
    padding: 0;
    list-style: none;

    color: #FFF;
    li{
        display: inline-block;
        width: calc(100% - 50px);
        padding: 1em 1.3em;
        &:last-of-type{ 
            text-align: center;
            width: 50px;
        }
        &+li{ border-left: 1px solid #dedede; }
    }
    a{
        display: block;
        &:after{
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAFo9M/3AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAANpJREFUeNpi+P///3kg/s/EwMDwAYgTAQKIEcQDMhhAIgdADIAAYviPAPNBBFwJDAAEELrABQZk5TDjQYYpAPECbFoYAAIIXQDkGAFkBSxw9yDARCD2B+IEbCYsgNIJcBGYZ3GA8wABhOEoNMDIxIAfOKArYERXge6L/VBFcGsJWQE2wQHNChRHo5uA4SOC3gQIMEIKCAFHXJ74AHXvAkIm4DJAAMk/eA1iJNEH96GJE8UL//Hg+VCF86F8BWK98AApWfxHSZ5YIhobUMAWp7gMYERLLcQCcBoFAEQujVDuVWLdAAAAAElFTkSuQmCC'); 
            background-repeat: no-repeat; 
            background-position: right center; 
            background-size: cover;
            content: ""; 
            display: inline-block; 
            height: 16px; 
            opacity: .7; 
            vertical-align: top; 
            width: 16px;
        }
    }
}

.icheckbox_square-blue, .iradio_square-blue{
    background: url('../images/black.png');
}

.box-body.table-responsive{ overflow-x: scroll; }
.sonata-ba-list tr td:last-child{
    position: relative;
    overflow: visible;
}
.sonata-ba-list tr:hover .delete_link{
    display: block;
}

.datepicker td, .datepicker th,
.datepicker table tr td span{
    border-radius: 0;
}

.datepicker table tr td.active:hover, .datepicker table tr td.active:hover:hover, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active.disabled:hover:hover, .datepicker table tr td.active:active, .datepicker table tr td.active:hover:active, .datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active.active, .datepicker table tr td.active:hover.active, .datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled:hover.active, .datepicker table tr td.active.disabled, .datepicker table tr td.active:hover.disabled, .datepicker table tr td.active.disabled.disabled, .datepicker table tr td.active.disabled:hover.disabled, .datepicker table tr td.active[disabled], .datepicker table tr td.active:hover[disabled], .datepicker table tr td.active.disabled[disabled], .datepicker table tr td.active.disabled:hover[disabled],
.datepicker table tr td span.active:hover, .datepicker table tr td span.active:hover:hover, .datepicker table tr td span.active.disabled:hover, .datepicker table tr td span.active.disabled:hover:hover, .datepicker table tr td span.active:active, .datepicker table tr td span.active:hover:active, .datepicker table tr td span.active.disabled:active, .datepicker table tr td span.active.disabled:hover:active, .datepicker table tr td span.active.active, .datepicker table tr td span.active:hover.active, .datepicker table tr td span.active.disabled.active, .datepicker table tr td span.active.disabled:hover.active, .datepicker table tr td span.active.disabled, .datepicker table tr td span.active:hover.disabled, .datepicker table tr td span.active.disabled.disabled, .datepicker table tr td span.active.disabled:hover.disabled, .datepicker table tr td span.active[disabled], .datepicker table tr td span.active:hover[disabled], .datepicker table tr td span.active.disabled[disabled], .datepicker table tr td span.active.disabled:hover[disabled]
{
    background-color: #000;
}

.datepicker table tr td.active, .datepicker table tr td.active:hover, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled:hover,
.datepicker table tr td.today, .datepicker table tr td.today:hover, .datepicker table tr td.today.disabled, .datepicker table tr td.today.disabled:hover,
.datepicker table tr td span.active, .datepicker table tr td span.active:hover, .datepicker table tr td span.active.disabled, .datepicker table tr td span.active.disabled:hover,{
    background-image: none;
}

.select2-container.per-page .select2-chosen{
    padding: 9px 0 9px 12px;
}

.select2-results .select2-highlighted{
    background-color: #333;
}

.select2-drop-active,
.select2-drop-auto-width, .select2-drop.select2-drop-above.select2-drop-active{
    border-color: #333;
}

.select2-dropdown-open.select2-drop-above [class^=select2-choice],
.pagination>li:first-child>a, .pagination>li:first-child>span,
.pagination>li:last-child>a, .pagination>li:last-child>span,
.select2-container-multi .select2-choices .select2-search-choice,
.select2-search input
{
    border-radius: 0!important;
}

label ~ input[type="submit"] { margin: 0 0.5em; }

@media screen and (min-width: 50em) {
    .content-wrapper {
        padding-right: 50px;
    }
    .box-body.table-responsive {
        overflow: visible;
        overflow-x: visible;
    }
}
@media screen and (min-width: 80em) {
    .content, .content-header { 
        max-width: 1024px;
        margin: auto; 
    }
}